<!DOCTYPE html>
<html lang="en" ng-app="reddit_clone">
  <head>

    <!-- adding relevant meta tags ***research SEO tags and add -->
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reddit Clone</title>

    <!-- BS, FontAwesome, GoogleFont, misc libraries, **doublecheck on links vs. scripts and location in the body -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

  </head>
  <body ng-controller="app_controller">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">Reddit Clone</a>
      <ul class="nav navbar-nav">
        <li><a ng-click="toggleNewPostVisibility()"><span class="glyphicon glyphicon-plus"></span>Submit a Post</a></li>
        <li class="navbar-form">
          <div class="form-inline">
            <input type="text" placeholder="search" class="form-control" ng-model="view.searchText">
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span>Sort by {{ view.currentSort }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="field in view.sortableFields"><a href="#" ng-click="setOrderVal(field)">Sort by {{ field }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="">

    <form name="postForm" ng-submit="addPost(newPost)" ng-show="view.newPostVisible" class="newForm">
      <div class="form-group" ng-class="{'has-error': checkForError(postForm.title), 'has-success': postForm.title.$valid }">
        <label for="title" ng-class="{'text-danger': checkForError(postForm.title), 'text-success': postForm.title.$valid }">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" ng-model="newPost.title" required>
        <p ng-show="checkForError(postForm.title)" class="help-block">What is the title of your post?</p>
      </div>
      <div class="form-group" ng-class="{'has-error': checkForError(postForm.author), 'has-success': postForm.author.$valid }">
        <label for="author" ng-class="{'text-danger': checkForError(postForm.author), 'text-success': postForm.author.$valid }">Author</label>
        <input type="text" class="form-control" name="author" placeholder="Author" ng-model="newPost.author" required>
        <p ng-show="checkForError(postForm.author)" class="help-block">Who is the Author of this post?</p>
      </div>
      <div class="form-group" ng-class="{'has-error': checkForError(postForm.image), 'has-success': postForm.image.$valid }">
        <label for="image" ng-class="{'text-danger': checkForError(postForm.image), 'text-success': postForm.image.$valid }">Image URL</label>
        <input type="text" class="form-control" name="image" placeholder="Image URL" ng-model="newPost.image" required>
        <p ng-show="checkForError(postForm.image)" class="help-block">Where is the picture?</p>
      </div>
      <div class="form-group" ng-class="{'has-error': checkForError(postForm.description), 'has-success': postForm.description.$valid }">
        <label for="description" ng-class="{'text-danger': checkForError(postForm.description), 'text-success': postForm.description.$valid }">Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" ng-model="newPost.description" required>
        <p ng-show="checkForError(postForm.description)" class="help-block">Tell us about your post.</p>
      </div>
      <input type="submit" class="btn btn-default" value="Add Post">
    </form>

  </div>

  <div class="well" ng-repeat="post in view.posts | orderBy: view.orderVal | filter:view.searchText">
    <div class="row">
      <div class="col-xs-2"><img ng-src="{{ post.image }}"></div>
      <div class="col-xs-10">
        <h4>
          {{ post.title }} |
          <span class="glyphicon glyphicon-arrow-up" ng-click="changeVotes(post,1)"></span>
          <span class="glyphicon glyphicon-arrow-down" ng-click="changeVotes(post,-1)"></span>
          <span ng-class="upvoteClass(post)">{{ post.votes }}</span>
        </h4>
        <p class="pull-right">By {{ post.author }}</p>
        <p class="clear">{{ post.description }}</p>
        <p>
          <span class="glyphicon glyphicon-calendar"></span>
          {{ post.date }} |
          <span class="hoverable" ng-click="toggleCommentVisibility(post)">
            <span class="glyphicon glyphicon-comment"></span>
            <ng-pluralize count="post.comments.length" when="{1: '1 comment', 'other': '{{ post.comments.length }} comments'}"></ng-pluralize>
          </span> |
          <span class="hoverable" ng-click="toggleNewCommentVisibility(post)">
            <span class="glyphicon glyphicon-pencil"></span>
            Add comment
          </span>
        </p>
        <div class="comment" ng-show="post.commentsVisible">
          <p ng-repeat="comment in post.comments">
            <strong>{{ comment.author }}</strong> - {{ comment.text }}
          </p>
        </div>
        <div class="comment" ng-show="post.newCommentVisible">
          <!-- COMMENT FORM -->
          <form class="form-inline" ng-submit="addComment(post, newComment)">
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" placeholder="author" class="form-control" ng-model="newComment.author">
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <input type="text" placeholder="text" class="form-control" ng-model="newComment.text">
            </div>
            <input class="btn btn-success" type="submit" value="Add Comment">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>



	<!-- fonts, animate, etc.  **doublecheck on links vs. scripts and location in the body **jQuery mobile CDN conflicts w BS-->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="./app.js"></script>

  </body>
</html>
